body {
  font-family: 'Nunito', sans-serif;
  background-color: #1B232F;
  color: white;
}

input {
  background-color: #2f4565;
  color: white;
  border: 1px solid #2b6fd4;
}

.activity {
  color: black;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;position: relative;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #3b96f7;
}

a:hover {
  color: #0076f5;
}

.day {
  padding: 0.5em;
  border-radius: 0.3em;
  border: 0.2em solid grey;
}

.dates, .days_time, .activities, .modified_dates, .modified_dt_ranges{
  padding: 0.3em;
  border: 0.1em solid grey;
  border-radius: 0.7em
}

.add {
  background-color: #2f4565;
  color: white;
}

.add:hover {
  background-color: #304f7e;
  color: white;
}

.button {
  
}