<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Distribute Time - Generate Timetable</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='collapsible.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="description" content="Website where you automatically make your own timetable. Features: customisability, unlimited generations, drag and drop activites, export timetable"/>
    <meta name="keywords" content="timetable,generate,automatic,customisability,unlimited,generations,drag,drop,activites">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="tool" />
    <meta property="og:title" content="Distribute Time" />
    <meta property="og:description" content="Website where you automatically make your own timetable. Features: customisability, unlimited generations, drag and drop activites, export timetable" />
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />
    <meta property="og:url" content="https://distribute-time.vulcanwm.repl.co" />
    <meta property="og:site_name" content="Distribute Time" />
  </head>
  <body>
    <div class="content">
      {% if error != False and error != "" and error != None %}
        <p>{{erorr}}</p>
      {% endif %}
      <h1>Distribute Time</h1>
      <h2>Make Your Timetable</h2>
      <form method="POST" action="/timetable">
        <div class="dates">
          <label for="time_span1">Start Date</label>
          <input type="date" id="time_span1" name="time_span1"
       value="2022-10-01">
          <br>
          <label for="time_span2">End Date</label>
          <input type="date" id="time_span2" name="time_span2"
       value="2022-10-30">
        </div>
        <br>
        <div id="days_time" class="days_time">
        </div>
        <br>
        <div id="activities" class="activities">
          <h3>Activities</h3>
          <p>Activity Name | Duration (Minutes) | Amount of Sessions in Total</p>
          <button id="add" class="add" onclick="add_activity()" type="button">Add Activity</button>
        </div>
        <br>
        <button class="collapsible" type="button">Advanced</button>
        <div class="collapsible_content">
          <br>
          <div id="modified_dates" class="modified_dates">
            <h3>Modified Dates</h3>
            <p>Date | Study Time (minutes)</p>
            <button id="add_date" class="add" onclick="add_modified_date()" type="button">Add Modified Date</button>
          </div>
          <br>
          <div id="modified_dt_ranges" class="modified_dt_ranges">
            <h3>Modified Date Ranges</h3>
            <p>Start Date | End Date | Study Time (minutes)</p>
            <button id="add_dt_range" class="add" onclick="add_modified_dt_range()" type="button">Add Modified Date Range</button>
          </div>
        </div>
        <br>
        <button class="button">distribute</button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='collapsible.js') }}"></script>
  </body>
</html>