<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Distribute</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div class="content">
      <form method="POST" action="/distribute">
        <input type="date" id="time_span1" name="time_span1"
       value="2022-10-01">
        <br>
        <input type="date" id="time_span2" name="time_span2"
       value="2022-10-30">
        <div id="days_time" class="days_time">
        </div>
        <div id="activities" class="activities">
          <input type="text" id="activity1name" name="activity1name" placeholder="activity 1 name" value="Activity">
          <input type="number" id="activity1duration" name="activity1duration" placeholder="activity 1 duration in minutes" value="15">
          <input type="number" id="activity1amount" name="activity1amount" placeholder="activity 1 amount" value="12">
          <button id="add" onclick="add_activity()" type="button">Add Activity</button>
        </div>
        <button class="button">distribute</button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>