<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Distribute Time</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <meta name="description" content="{{description}}"/>
    <meta name="keywords" content="timetable,generate,automatic,customisability,unlimited,generations,drag,drop,activites">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="tool" />
    <meta property="og:title" content="Distribute Time" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />
    <meta property="og:url" content="https://distribute-time.vulcanwm.repl.co" />
    <meta property="og:site_name" content="Distribute Time" />
  </head>
  <body>
    <div class="content">
      <h1>Distribute Time</h1>
      <button onclick="window.location.href='/distribute'">Generate a timetable</button>
      <p>Distribute Time is a website where you can automatically make your own timetable.</p>
      <p>It has many features such as:</p>
      <ul>
        <li><strong>Automatic Timetable Generating</strong> - Just input what activities you need to do, how long they are, and how long you study on each day, and you get a timetable generated!</li>
        <li><strong>Customisability</strong> - If you aren't free on a day or a range of days, you can input those days and the program will generate your timetable based on that!</li>
        <li><strong>Unlimited Generations</strong> - Want to generate 5 timetables? Or 100? You can generate as many as you want!</li>
        <li><strong>Drag and Drop Activities</strong> - If you want to swap 2 activities around, just drag and drop them!</li>
        <li><strong>Export timetable</strong> - You can export your timetable as a text file!</li>
      </ul>
      <p>Made by <a href="https://replit.com/@VulcanWM">VulcanWM</a></p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>