<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Distribute Time - Your Timetable</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <meta name="description" content="{{description}}"/>
    <meta name="keywords" content="timetable,generate,automatic,customisability,unlimited,generations,drag,drop,activites">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="tool" />
    <meta property="og:title" content="Distribute Time" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />
    <meta property="og:url" content="https://distribute-time.vulcanwm.repl.co" />
    <meta property="og:site_name" content="Distribute Time" />
    <meta property="og:image" content="" />
  </head>
  <body>
    <div class="content">
      <h1>Your Timetable</h1>
      <button>
        <a class="link" href="/">Home</a>
      </button>
      <button>
        <a class="link" href="/distribute">Generate another timetable</a>
      </button>
      <br><br>
      <button onclick='download_timetable()' class="button download">Download Timetable as Text File</button>
      <button onclick='saveDiv("timetable", "Your Timetable", "timetable")' class="button download">Download Timetable as PDF</button>
      <h1>Your Timetable:</h1>
      <div class="timetable" id="timetable">
        <script>console.log({{timetable|tojson}})
        console.log({{colours|tojson}})</script>
      {% for key_value in timetable %}
        <div class="day" id="{{key_value[0]}}" ondrop="drop(event)" ondragover="allowDrop(event)">
          {% set date = key_value[2] %}
          {% set routine = key_value[1] %}
          {% set date2 = key_value[0] %}
          <span>{{date}} </span>
          {% if routine != [] %}
            {% for activity in routine %}
              <p class="activity" style="background-color: {{colours[activity['Name']]}}" draggable="true" ondragstart="drag(event)" id="{{date2}}:{{loop.index}}">{{activity['Name']}} - {{activity['Duration']}} mins</p>
            {% endfor %}
          {% endif %}
        </div>
        <br>
      {% endfor %}
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='save_pdf.js') }}"></script>
  </body>
</html>