<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Distribute - Your Timetable</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div class="content">
      <a href="/">Generate another timetable</a>
      <br><br>
      <button onclick='download_timetable()' class="button download">Download Timetable as Text File</button>
      <h1>Your Timetable:</h1>
      <div class="timetable">
      {% for key_value in timetable %}
        <div class="day" id="{{key_value[0]}}" ondrop="drop(event)" ondragover="allowDrop(event)">
          {% set date = key_value[2] %}
          {% set routine = key_value[1] %}
          {% set date2 = key_value[0] %}
          <span>{{date}} </span>
          {% if routine != [] %}
            {% for activity in routine %}
              <p class="activity" style="background-color: {{colours[activity['Name']]}}" draggable="true" ondragstart="drag(event)" id="{{date2}}:{{loop.index}}">{{activity['Name']}} - {{activity['Duration']}} mins</p>
            {% endfor %}
          {% endif %}
        </div>
        <br>
      {% endfor %}
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>